
@model IEnumerable<Timeslot>
@{
    @using FluentDateTime
    ViewData["Title"] = "Overview";
    ViewData["ID Reserve"] = "null";
    ViewData["ID Overview"] = "current_page";
    ViewData["ID Team"] = "null";
    ViewData["ID Admin Dashboard"] = "null";

    static string[][] SelectDaysOfWeeks() {
        string[] daysOfWeekCalenderDays = new string[10];
        string[] daysOfWeeksCalender = new string[10];
        DateTime lastDay = DateTime.Now;
        for (int i = 0; i < 10; i++) {
            if (lastDay.DayOfWeek == DayOfWeek.Monday) {
                daysOfWeekCalenderDays[i] = "Mon.";
                daysOfWeeksCalender[i] = lastDay.AddDays(2.0).ToShortDateString();
                lastDay = lastDay.AddDays(3.0);
            } else if (lastDay.DayOfWeek == DayOfWeek.Saturday) {
                daysOfWeekCalenderDays[i] = "Mon.";
                daysOfWeeksCalender[i] = lastDay.AddDays(2.0).ToShortDateString();
                lastDay = lastDay.AddDays(3.0);
            } else if (lastDay.DayOfWeek == DayOfWeek.Sunday) {
                daysOfWeekCalenderDays[i] = "Mon.";
                daysOfWeeksCalender[i] = lastDay.AddDays(1.0).ToShortDateString();
                lastDay = lastDay.AddDays(2.0);

            } else {
                if (lastDay.DayOfWeek == DayOfWeek.Monday) {
                    daysOfWeekCalenderDays[i] = "Mon.";
                    daysOfWeeksCalender[i] = lastDay.ToShortDateString();
                    lastDay = lastDay.AddDays(1.0);
                }
                if (lastDay.DayOfWeek == DayOfWeek.Tuesday) {
                    daysOfWeekCalenderDays[i] = "Tue.";
                    daysOfWeeksCalender[i] = lastDay.ToShortDateString();
                    lastDay = lastDay.AddDays(1.0);
                } else if (lastDay.DayOfWeek == DayOfWeek.Wednesday) {
                    daysOfWeekCalenderDays[i] = "Wed.";
                    daysOfWeeksCalender[i] = lastDay.ToShortDateString();
                    lastDay = lastDay.AddDays(1.0);
                } else if (lastDay.DayOfWeek == DayOfWeek.Thursday) {
                    daysOfWeekCalenderDays[i] = "Thu.";
                    daysOfWeeksCalender[i] = lastDay.ToShortDateString();
                    lastDay = lastDay.AddDays(1.0);
                } else if (lastDay.DayOfWeek == DayOfWeek.Friday) {
                    daysOfWeekCalenderDays[i] = "Fri.";
                    daysOfWeeksCalender[i] = lastDay.ToShortDateString();
                    lastDay = lastDay.AddDays(1.0);
                }

            }
        }
        return new[] { daysOfWeekCalenderDays, daysOfWeeksCalender };

    }
    var calender = SelectDaysOfWeeks();
}

<head>
    <meta charset="utf-8" />
    <link href="./css/site.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="overview_page">
        <div class="select_timeslot">
        @{
            int i = 0;
            foreach (var day in calender[0]) {
                <div class="day_block">
                    <h3>@calender[0][i] @calender[1][i]</h3>
                    @{ 
                        int j = 0;
                        foreach(var timeslot in Model) {
                            <button id="TSS@(j)">
                                @timeslot.TimeStart-@timeslot.TimeEnd
                                <div id="TSS@(i)_slot_availability" class="TSS_availability">00/17</div>
                                </button>

                            j++;
                        }
                    }
                </div>
                i++;
            }
        }
        </div>
        
    <div class="selected_timeslot">
        <h1>Selected timeslot:</h1>
        <div class="colleagues">
            <div class="date"><p id="date">date</p><p id="tsa">00/17</p></div>
            <p>Name + Functions</p>
        </div>
    </div>
    
    <div class="upcoming_reservations">
        <h1>My upcoming reservations:</h1>
        <div class="line"></div>
    </div>
    </div>
</body>





