@{
    ViewData["Title"] = "Reserve";
    ViewData["ID Reserve"] = "current_page";
    ViewData["ID Home"] = "null";
    ViewData["ID Team"] = "null";
    ViewData["ID Admin Dashboard"] = "null";
}

<head>
    <meta charset="utf-8" />
    <link href="./css/site.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="reserve_page">
        <h1>Select date:</h1>
        <div id="select-date_line"></div>

        <form class="date_selection">
            <div>
                <label class="date_placeholder" for="CB1" id="L1">Mon.<br />28-09</label>
                <input type="checkbox" id="CB1" onclick="changeColor('CB1', 'L1', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB2" id="L2">Mon.<br />28-09</label>
                <input type="checkbox" id="CB2" onclick="changeColor('CB2', 'L2', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB3" id="L3">Mon.<br />28-09</label>
                <input type="checkbox" id="CB3" onclick="changeColor('CB3', 'L3', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB4" id="L4">Mon.<br />28-09</label>
                <input type="checkbox" id="CB4" onclick="changeColor('CB4', 'L4', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB5" id="L5">Mon.<br />28-09</label>
                <input type="checkbox" id="CB5" onclick="changeColor('CB5', 'L5', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB6" id="L6">Mon.<br />28-09</label>
                <input type="checkbox" id="CB6" onclick="changeColor('CB6', 'L6', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB7" id="L7">Mon.<br />28-09</label>
                <input type="checkbox" id="CB7" onclick="changeColor('CB7', 'L7', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB8" id="L8">Mon.<br />28-09</label>
                <input type="checkbox" id="CB8" onclick="changeColor('CB8', 'L8', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB9" id="L9">Mon.<br />28-09</label>
                <input type="checkbox" id="CB9" onclick="changeColor('CB9', 'L9', '#D5BFAA', '#FFFFFF')" />
            </div>
            <div>
                <label class="date_placeholder" for="CB10" id="L10">Mon.<br />28-09</label>
                <input type="checkbox" id="CB10" onclick="changeColor('CB10', 'L10', '#D5BFAA', '#FFFFFF')" />
            </div>

        </form>
    </div>

    <script>
        function changeColor(checkboxID, labelID, originColor, checkedColor) {
            var checkBox = document.getElementById(checkboxID);
            if (checkBox.checked == true) {
                document.getElementById(labelID).style.color = checkedColor;
            } else {
                document.getElementById(labelID).style.color = originColor;
            }
        }

    </script>
</body>