@model Tuple<List<Timeslot>, Popup>
@{
    ViewData["Title"] = "Admin Dashboard";
    ViewData["ID Reserve"] = "null";
    ViewData["ID Overview"] = "null";
    ViewData["ID Team"] = "null";
    ViewData["ID Admin Dashboard"] = "current_page";
}

<head>
    <meta charset="utf-8" />
    <link href="./css/site.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="admin_page">
        <div class="teams"></div>
        <div class="timeslots">
            <h1>Timeslots</h1>
            <div class="timeslot_config">
                @foreach (var item in Model.Item1) {
                    <form asp-action="Index">
                        <p class="ts">@item.TimeStart - @item.TimeEnd</p>
                        <input type="hidden" name="timeslotId" value=@item.TimeslotId />
                        <button type="submit">X</button>
                    </form>
                }
            </div>
            <form asp-action="AddTimeslot">
                <input placeholder="09:00" name="startTime" />
                <input placeholder="11:00" name="endTime" />
                <button type="submit">add timeslot</button>
            </form>
        </div>
        <div class="employees"></div>
        <div class="workplaces">
            <h1>Workplaces</h1>
            <div class="workplace_config">
                <p><a href="">  -  </a>  17  <a href="">  +  </a></p>
            </div>
        </div>
    </div>

    <script>
        if ("@Model.Item2.popupMessage" != "") {
            var s = "@Html.Raw(Model.Item2.popupMessage)";
            var s = s.split("|").join("\r");
            var s = s.split("||").join("\n");
            setTimeout(() =>  window.alert(s), 100);
        }
    </script>
</body>