@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["ID Privacy"] = "current_page";
    ViewData["ID Home"] = "null";
    ViewData["ID Team"] = "null";
    ViewData["ID Admin Dashboard"] = "null";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
