@model IEnumerable<NGTI_Calender.Models.Reservation>

@{
    @using FluentDateTime
    ViewData["Title"] = "Reserve";
    ViewData["ID Reserve"] = "current_page";
    ViewData["ID Home"] = "null";
    ViewData["ID Team"] = "null";
    ViewData["ID Admin Dashboard"] = "null";
    DateTime lastDate = DateTime.Now;

    static DateTime AddBusinessDays(DateTime date, DateTime lastDate)
    {
        if(date.DayOfWeek == DayOfWeek.Saturday)
        {
            date = date.AddDays(2.0);
        } else if(date.DayOfWeek == DayOfWeek.Sunday)
        {
            date = date.AddDays(1.0);
        }
        if(lastDate == date)
        {
            lastDate = date.AddDays(1.0);
            return date.AddDays(1.0);
        }
        lastDate = date;
        return date;
    }
}

<head>
    <meta charset="utf-8" />
    <link href="./css/site.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="reserve_page">
        <h1>Select date:</h1>
        <div id="select-date_line"></div>

        <form>

            <div class="left_side">
                <!--DATE SELECTION-->
                <div class="date_selection">
                    <div>
                        <label for="CB1" id="L1">@AddBusinessDays(DateTime.Now, lastDate).ToShortDateString()</label>
                        <input type="checkbox" id="CB1" onclick="changeColor('CB1', 'L1', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB2" id="L2">@AddBusinessDays(DateTime.Now.AddDays(1.0), lastDate).ToShortDateString()</label>
                        <input type="checkbox" id="CB2" onclick="changeColor('CB2', 'L2', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label  for="CB3" id="L3">@AddBusinessDays(DateTime.Now.AddDays(2.0), lastDate).ToShortDateString()</label>
                        <input type="checkbox" id="CB3" onclick="changeColor('CB3', 'L3', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB4" id="L4">@AddBusinessDays(DateTime.Now.AddDays(3.0), lastDate).ToShortDateString()</label>
                        <input type="checkbox" id="CB4" onclick="changeColor('CB4', 'L4', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB5" id="L5"></label>
                        <input type="checkbox" id="CB5" onclick="changeColor('CB5', 'L5', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB6" id="L6"></label>
                        <input type="checkbox" id="CB6" onclick="changeColor('CB6', 'L6', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB7" id="L7"></label>
                        <input type="checkbox" id="CB7" onclick="changeColor('CB7', 'L7', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB8" id="L8"></label>
                        <input type="checkbox" id="CB8" onclick="changeColor('CB8', 'L8', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB9" id="L9"></label>
                        <input type="checkbox" id="CB9" onclick="changeColor('CB9', 'L9', '#D5BFAA', '#FFFFFF')" />
                    </div>
                    <div>
                        <label for="CB10" id="L10"></label>
                        <input type="checkbox" id="CB10" onclick="changeColor('CB10', 'L10', '#D5BFAA', '#FFFFFF')" />
                    </div>
                </div>

                <!--TIMESLOT SELECTION-->
                <div>
                    <div class="timeslot">
                        <input type="checkbox" id="TS1" />
                        <label for="TS1">
                            08:00-11:00
                            <div id="TS1_slot_availability" class="slot_availability"><p>00/17</p></div>
                        </label>
                    </div>
                    <div class="timeslot">
                        <input type="checkbox" id="TS2" />
                        <label for="TS2">
                            11:30-14:00
                            <div id="TS2_slot_availability" class="slot_availability"><p>00/17</p></div>
                        </label>
                    </div>
                    <div class="timeslot">
                        <input type="checkbox" id="TS3" />
                        <label for="TS3">
                            14:30-17:00
                            <div id="TS3_slot_availability" class="slot_availability"><p>00/17</p></div>
                        </label>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <script>
        function changeColor(checkboxID, labelID, originColor, checkedColor) {
            var checkBox = document.getElementById(checkboxID);
            if (checkBox.checked == true) {
                document.getElementById(labelID).style.color = checkedColor;
            } else {
                document.getElementById(labelID).style.color = originColor;
            }
        }

    </script>
</body>


